body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/photos/background.jpeg');
    background-size: 150px;
    background-position: center;
    background-repeat: repeat;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.jukebox-wrapper {
    background: #111;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.jukebox-arc {
    background: linear-gradient(to bottom, #ff512f, #dd2476);
    border-radius: 50% 50% 0 0;
    padding: 20px;
    position: relative;
    box-shadow: inset 0 -10px 15px rgba(0, 0, 0, 0.4);
}

.jukebox-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffe57f;
    text-shadow: 0 0 10px #ffe57f;
    margin-bottom: 20px;
}

.jukebox-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.song-button {
    font-size: 1rem;
    padding: 15px 20px;
    /* Adjust padding as needed */
    background: linear-gradient(to bottom, #f9d423, #ff4e50);
    border: none;
    border-radius: 5px;
    /* Reduced border-radius for rectangular shape */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 250px;
    max-width: 300px;
}

.song-button:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.video-display {
    margin-top: 20px;
    text-align: center;
}

video {
    width: 100%;
    max-width: 600px;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

footer {
    margin-top: 20px;
    background-image: url(/photos/background.jpeg);
    background-size: 150px;
    background-position: center;
    background-repeat: repeat;
}

/* Editable List Section */
.editable-list {
    margin-top: 30px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.editable-list h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.editable-list p {
    font-size: 1rem;
    margin-bottom: 20px;
}